<h1>Your score</h1>


<ul>
<li> here is your score <%= @results[:score] %> </li>
<li> You took <%= @results[:time] %> seconds</li>
<li> <%= @results[:message] %> </li>
</ul>


<%= link_to "Play the game again you looser ! ", game_path %>
